@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Jost&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.container {
  max-width: 1270px;
  padding-inline: 15px;
  margin: 0 auto;
  width: 100%;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.jost-600 {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.jost-400 {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: clamp(22px, 2.7vw, 40px);
  text-transform: capitalize;
  color: #ffffff;
}

h2 {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: clamp(18px, 2.7vw, 52px);
  text-transform: capitalize;
  color: #0e0e0e;
}

h3 {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: clamp(14px, 1.25vw, 18px);
  line-height: 178%;
  text-transform: capitalize;
  color: #0e0e0e;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #555;
  opacity: 0.75;
}

.swiper__reviews {
  height: 600px;
  margin-top: 100px;
  background-color: blue;
}

.swiper {
  width: 100%;
  height: 100%;
  pointer-events: all !important;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper__review--pagination {
  top: 25% !important;
}

.reviews__img-active {
  border: 3px solid orange;
  transform: scale(1.25);
}

.swiper-wrapper__custom {
  width: 1000px !important;
}

.swiper__pagination--custom--bullet {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-size: cover;
  background-position: center center;
  opacity: 1;
  margin-bottom: 15px !important;
}

.swiper__divider {
  position: absolute;
  top: 0;
  right: 10%;
  z-index: 20;
}

.swiper__reviews--text {
  font-size: 32px;
}

.swiper__reviews--text--block {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 50px;
}

.price-table-container {
  display: flex;
  flex-direction: column;
}
.price-table-container .price-table-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-table-container .price-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.swiper__team {
  display: flex;
  flex-direction: row;
  height: 600px;
  margin-top: 100px;
  column-gap: 60px;
  background-color: green;
}
.swiper__team--name {
  font-size: 24px;
  color: black;
}
.swiper__team--profession {
  font-size: 24px;
}
.swiper__team--info {
  row-gap: 30px;
  width: 790px;
}
.swiper__team--info--title {
  margin-top: 30px;
  margin-bottom: 30px;
}
.swiper__team--info--text {
  font-size: 16px;
  margin-bottom: 50px;
}

.swiper__pagination--team--bullet {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-bottom: 20px;
}

.swiper__pagination--team--bullet-active p:first-child {
  color: red;
  font-size: 32px;
  border-bottom: 2px solid red;
}

.swiper-slide--img {
  width: 410px;
  height: 500px;
  background-position: center center;
  background-size: cover;
}
.swiper-slide--img--1 {
  background-image: url(/images/reviews/1.jpg);
}
.swiper-slide--img--2 {
  background-image: url(/images/reviews/2.jpg);
}
.swiper-slide--img--3 {
  background-image: url(/images/reviews/3.jpg);
}
.swiper-slide--img--4 {
  background-image: url(/images/reviews/1.jpg);
}

.process {
  margin-top: 100px;
}
.process__text {
  margin-bottom: 30px;
  text-align: center;
}
.process__title {
  margin-bottom: 50px;
  text-align: center;
}
.process__tabs {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  margin-bottom: 90px;
}
.process__tab {
  text-align: center;
  width: 416px;
  height: 80px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.process__tab__text {
  font-size: 24px;
  color: black;
}
.process__tab--active {
  background-color: #ff6600;
  border: none;
  position: relative;
}
.process__tab--active::after {
  content: "";
  position: absolute;
  left: 45%;
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid #ff6600;
}
.process__tab--active p {
  color: #ffffff;
  opacity: 1;
}
.process__content {
  width: 100%;
  height: 540px;
  background-color: orange;
}
.process__content--video {
  width: 100%;
  height: 100%;
}

.projects {
  margin-top: 100px;
}
.projects__text {
  margin-bottom: 30px;
}
.projects__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.projects__swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects__slide--info {
  opacity: 0;
  transition: all 0.5s;
  position: relative;
  height: 100%;
  width: 100%;
}
.projects__slide--info--tag {
  background-color: #ff6600;
  padding: 10px 15px;
  color: #ffffff;
  width: fit-content;
  position: absolute;
  bottom: 130px;
  left: 30px;
}
.projects__slide--info--title {
  color: white;
  background-color: #000000;
  padding: 10px 15px;
  color: #ffffff;
  width: fit-content;
  font-size: 32px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.projects__slide--content {
  height: 400px;
  background-size: cover;
  background-position: center center;
}
.projects__slide--content--1 {
  background-image: url("/images/projects/1.jpg");
}
.projects__slide--content--1:hover .projects__slide--info {
  opacity: 1;
}
.projects__slide--content--2 {
  background-image: url("/images/projects/2.jpg");
}
.projects__slide--content--2:hover .projects__slide--info {
  opacity: 1;
}
.projects__slide--content--3 {
  background-image: url("/images/projects/3.jpg");
}
.projects__slide--content--3:hover .projects__slide--info {
  opacity: 1;
}
.projects__slide--content--4 {
  background-image: url("/images/projects/4.jpg");
}
.projects__slide--content--4:hover .projects__slide--info {
  opacity: 1;
}
.projects__slide--content--5 {
  background-image: url("/images/projects/5.jpg");
}
.projects__slide--content--5:hover .projects__slide--info {
  opacity: 1;
}
.projects__slide--content--6 {
  background-image: url("/images/projects/6.jpg");
}
.projects__slide--content--6:hover .projects__slide--info {
  opacity: 1;
}
.projects__swiper__arrows {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.projects__swiper__button--next, .projects__swiper__button--prev {
  cursor: pointer;
}
.projects__swiper__button--next:hover path, .projects__swiper__button--prev:hover path {
  fill: #ff6600;
}

.button {
  position: relative;
  color: #ffffff;
  background-color: #ff6600;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  padding: 17px 59px 17px 35px;
  border: none;
  font-size: 1.6rem;
  line-height: 1.6;
}
.button::after {
  content: "";
  position: absolute;
  background-image: url("/images/icons/arrow.svg");
  width: 17px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  top: 28px;
  right: 26px;
}
.button:hover {
  background-color: #ff944d;
  border: 1px solid #ffffff;
}

.button-white {
  position: relative;
  color: #000000;
  background-color: #ffffff;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  padding: 17px 59px 17px 35px;
  border: 1px solid #000000;
  font-size: 1.6rem;
  line-height: 1.6;
}
.button-white::after {
  content: "";
  position: absolute;
  background-image: url("/images/icons/arrow-black.svg");
  width: 17px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  top: 28px;
  right: 26px;
}
.button-white:hover {
  background-color: #ff6600;
  border: 1px solid #ffffff;
}

.hero {
  position: relative;
  background: linear-gradient(180deg, rgba(14, 14, 14, 0.6) 0%, rgba(14, 14, 14, 0.9) 100%), url("/images/excavator-bg-hero.jpg") center/cover no-repeat, url("/images/ribbon-bg.png") center/cover no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}
.hero::after {
  content: "";
  position: absolute;
  background-image: url("/images/ribbon-bg.png");
  width: 508px;
  height: 364px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
}
.hero__container {
  min-width: 1600px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.hero__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  z-index: 2;
}
.hero__title {
  font-size: 158px;
  line-height: 0.87;
}
.hero__description {
  color: #d8d8d8;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
}
.hero__human {
  display: flex;
  align-items: center;
  width: 1fr;
  height: 100%;
}
.hero__track {
  position: absolute;
  bottom: -175px;
  left: 50%;
  transform: translate(-50%, 0);
}

.statistics {
  position: relative;
}
.statistics::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url(/images/architecture-statistics.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: -30px;
  left: 0;
  width: 286px;
  height: 545px;
}
.statistics__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 50px;
}
.statistics__caption {
  font-family: "Jost", sans-serif;
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  line-height: 1.62;
  color: #0e0e0e;
}
.statistics__caption::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  display: block;
  width: 15px;
  height: 1px;
  background-color: #ff6600;
}
.statistics__title {
  padding-top: 20px;
  padding-bottom: 75px;
  font-size: 52px;
  line-height: 1.19;
  text-align: center;
}

.numbers {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 18px;
}
.numbers__items {
  background-color: #f8f8f8;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 25%;
  transition: all 0.5s;
}
.numbers__items:hover {
  background-color: #ff6600;
  color: #ffffff;
  transition: all 0.5s;
}
.numbers__items:hover > * {
  color: #ffffff;
  transition: all 0.5s;
}
.numbers__title {
  font-weight: 600;
  font-size: 52px;
  line-height: 1.19;
  padding-bottom: 20px;
  transition: all 0.5s;
}
.numbers__description {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  color: #0e0e0e;
  transition: all 0.5s;
}

/*# sourceMappingURL=style.css.map */
