@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  padding-inline: 15px;
  margin: 0 auto;
  width: 100%;
  margin: 0 120px 0;
}

h1 {
  font-weight: 600;
  font-size: 40px;
  text-transform: capitalize;
  color: #1b1c57;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  text-transform: capitalize;
  color: #1b1c57;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 178%;
  text-transform: capitalize;
  color: #0e1735;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #626687;
  opacity: 0.75;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 25px;
}
.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 56px;
}
.header__logo-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 56px;
}
.header__logo {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
  color: #1b1c57;
}
.header__logo-image {
  padding-right: 12px;
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__menu-link {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  color: #f0f3fd;
}
.header__menu-link--property {
  position: relative;
  padding-right: 40px;
}
.header__menu-link--property::after {
  content: "";
  position: absolute;
  right: 18px;
  bottom: 14px;
  display: block;
  background-image: url("/img/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 11px;
  height: 6px;
}
.header__sign-up-button {
  color: #047857;
  background-color: #d1fae5;
  border: none;
}

.footer .footer__container {
  display: flex;
  justify-content: space-between;
  margin: 0 120px 0;
}
.footer .footer__container .footer__description {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 320px;
}
.footer .footer__container .footer__description .footer__description__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.footer .footer__container .footer__description p {
  margin: 16px 0 24px;
}
.footer .footer__container .footer__description .footer__description__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.footer .footer__container .footer__description .footer__description__images .instagram-icon {
  position: relative;
  top: 7px;
}
.footer .footer__container .footer__links {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 88px;
}
.footer .footer__container .footer__links__element h3 {
  margin-bottom: 24px;
}
.footer .footer__container .footer__links__element ul li {
  margin: 16px 0;
}
.footer .footer__container .footer__links__element ul li a {
  text-decoration: none;
  color: #888b97;
}

.subscribe {
  background: url("/img/subscribeBG.png");
  border-radius: 32px;
  position: relative;
  height: 312px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 35px;
}
.subscribe img {
  position: absolute;
}
.subscribe__images--1 {
  top: 38px;
  left: 44px;
}
.subscribe__images--2 {
  top: 71px;
  left: 204px;
}
.subscribe__images--3 {
  left: 67px;
  top: 173px;
}
.subscribe__images--4 {
  left: 195px;
  top: 178px;
}
.subscribe__images--5 {
  left: 930px;
  top: 44px;
}
.subscribe__images--6 {
  left: 964px;
  top: 143px;
}
.subscribe__images--7 {
  left: 1082px;
  top: 107px;
}
.subscribe__images--8 {
  left: 1072px;
  top: 197px;
}
.subscribe__title {
  text-align: center;
}

.button {
  border-radius: 32px;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}

.input__wrapper {
  background: white;
  border-radius: 32px;
  padding: 4px 4px 4px 24px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.input {
  border: none;
  font-family: "Lexend";
}

.input:focus {
  outline: none;
}

.input__icon {
  position: static !important;
}

.input__button {
  padding: 12px 16px;
  background-color: #10b981;
  border: none;
  border-radius: 32px;
  font-family: "Lexend";
  color: white;
  font-size: 14px;
}

.hero {
  padding-top: 100px;
  position: relative;
  height: 800px;
  background-position: top right;
  background-repeat: no-repeat;
  background-image: url(/img/header-house.jpg);
}
.hero::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url("/img/header-bg.png");
  background-repeat: no-repeat;
}
.hero__container {
  display: flex;
}
.hero__intro {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
  padding-top: 72px;
  padding-right: 122px;
  gap: 20px;
}
.hero__title--transparent {
  -webkit-text-stroke: 1px #1b1c57;
  paint-order: stroke fill;
  color: transparent;
}

.search {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}
.search__pin {
  position: absolute;
  width: 18px;
  height: 22px;
  bottom: 17px;
  left: 27px;
}
.search__button {
  position: absolute;
  width: 109px;
  height: 48px;
  bottom: 4px;
  right: 4px;
  background-color: #10b981;
  color: #ffffff;
  padding-right: 30px;
  border: none;
}
.search__button::after {
  content: "";
  position: absolute;
  right: 18px;
  bottom: 17px;
  display: block;
  background-image: url("/img/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 7px;
  height: 14px;
}
.search__input {
  width: 100%;
  height: 56px;
  border-radius: 32px;
  border: 1px solid #e0e3eb;
  padding-left: 64px;
}

.partnership__list {
  display: flex;
  width: 100%;
  gap: 32px;
  justify-content: space-around;
  align-items: center;
}

.slider {
  width: 50%;
  display: flex;
  align-items: end;
  justify-content: flex-end;
}
.slider__item {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  border-radius: 32px;
  padding: 24px;
  width: 30% px;
  height: 104px;
}
.slider__avatar {
  height: 56px;
  aspect-ratio: 1;
}

/*# sourceMappingURL=style.css.map */
