@use "../abstracts/variables" as *;
@use "../base/_grid.scss" as _grid;

.footer {
    .footer__container{
        display: flex;
        justify-content: space-between;

        .footer__description {
            display: flex;
            flex-direction: column;
            align-items: start;

            max-width: 320px;

            .footer__description__title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 20px;
            }

            .footer__description__images {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 24px;
            }
        }


        .footer__links {
            display: flex;
            grid-template-columns: repeat(3, 1fr);
            gap: 88px;
        }

        .footer__links__element {
            h3 {
                margin-bottom: 24px;
            }

            ul {
                li {
                    margin: 16px 0;
                    a {
                        text-decoration: none;
                        color: $color-gray;
                    }
                }
            }
        }
    }

}