@use "../abstracts/variables" as *;

.header {
    background: url('/img/header-bg.png') ;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    color: $color-navy-blue;
}

.header__logo-image {
    padding-right: 12px;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu-link {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 32px;
    padding: 8px 16px;
    color: $color-white;
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    color: $nav-links;
}

.header__sign-up-button {
    color: $color-green-dark;
    background-color: $color-green-light;
    border: none;
}

.hero__title--transparent {
    -webkit-text-stroke: 1px $color-navy-blue;
    // text-stroke: 1px $color-navy-blue;
    paint-order: stroke fill;
    // text-shadow:
    //     1px 1px 0 #000,
    //     -1px -1px 0 #000,  
    //     1px -1px 0 #000,
    //     -1px 1px 0 #000;
    color: transparent;
}