@use "../abstracts/variables" as *;

.hero {
    padding-top: 100px;
    position: relative;
    height: 800px;
    // background-image: url(/img/header-bg.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-image: url(/img/header-house.jpg);
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        background-image: url('/img/header-bg.png');
        background-repeat: no-repeat;
    }
    &__container {
        display: flex;
    }
    &__intro {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 50%;
        padding-top: 72px;
        padding-right: 122px;
        gap: 20px;
    }
    &__title--transparent {
        -webkit-text-stroke: 1px $color-navy-blue;
        // text-stroke: 1px $color-navy-blue;
        paint-order: stroke fill;
        // text-shadow:
        //     1px 1px 0 #000,
        //     -1px -1px 0 #000,  
        //     1px -1px 0 #000,
        //     -1px 1px 0 #000;
        color: transparent;
    }
}


.search {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;

    &__pin {
        position: absolute;
        width: 18px;
        height: 22px;
        bottom: 17px;
        left: 27px
    }
    &__button {
        position: absolute;
        width: 109px;
        height: 48px;
        bottom: 4px;
        right: 4px;
        background-color: $color-green;
        color: $color-white;
        padding-right: 30px;
        border: none;
        &::after{
            content: '';
            position: absolute;
            right: 18px;
            bottom: 17px;
            display: block;
            background-image: url('/img/icons/arrow-right.svg');
            background-repeat: no-repeat;
            background-position: center;
            width: 7px;
            height: 14px;
        }
    }
    &__input {
        width: 100%;
        // padding: 20px;
        height: 56px;
        border-radius: 32px;
        border: 1px solid $color-gray-light;
        padding-left: 64px;
    }		
}

.partnership {
    &__list {
        display: flex;
        width: 100%;
        gap: 32px;
        justify-content: space-around;
        align-items: center;
    }
}

// .slider {
// }