@use "../abstracts/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Jost&display=swap');

.barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.barlow-bold {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.jost-600 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.jost-400 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-size: clamp(22px, 2.7vw, 40px);
    text-transform: capitalize;
    color: $color-white;
}

h2 {
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-size: clamp(18px,2.2vw,52px);
    text-transform: capitalize;
    color: $color-dark-gray;
}

h3 {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: clamp(14px, 1.25vw ,18px);
    line-height: 178%;
    text-transform: capitalize;
    color: $color-dark-gray;
}

p {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 171%;
    color: $color-gray;
    opacity: .75;
}

