$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

//я сегодня буду менять названия переменных на функциональные и по макету тут половины цветов нет вручную сделаю (алина)
$white: #ffffff;
$nav-links: #f0f3fd;
$button-green-color: #047857;
$button-light-green-bg: #d1fae5;

$gray-light: #878c96;
$navy-blue: #1c1c57;
$deep-blue: #3d4563;
$orange: #f59e0a;
$dark-navy: #0d1736;
$gray-medium: #636687;
$green-teal: #0fba82;
$light-gray: #c4c4c4;
$blue-gray: #69789e;
$lightest-gray: #f0f2fc;
$red: #f04545;
$pale-green: #d1fae6;
$forest-green: #057857;
$light-beige: #e0e3eb;
$teal: #4ae3c9;
$pale-pink: #ffe3e3;
$blue: #1c4fd9;
$coral: #ff9982;
$pale-cyan: #82ffe8;
$yellow: #fffa82;
$lime-green: #c7ff82;
$sky-blue: #82baff;
$light-lime: #b8ff82;
$pale-blue: #82f7ff;
$pale-aqua: #82ffd1;
$pale-lavender: #dbebff;
$black: #000000;
$azure-blue: #3b82f5;
$amber: #ffcc66;
$medium-gray: #d9d9d9;

$multiplier: 4;