$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$color-white: #ffffff;
$color-dark-white: #f8f8f8;
$color-dark: #000000;
$color-dark-gray: #0e0e0e;
$color-orange: #ff6600;
$color-light-orange: #ff944d;
$color-gray: #555;
$color-light-gray: #d8d8d8;
$color-green: #39ca6e;
$color-red: #fb5b11;
$color-extralight-gray: #f8f8f8;

$multiplier: 4;